<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('./partial/head.ejs') %>
  </head>
  <body class="text-gray-600 font-body">
    <div class="grid md:grid-cols-3"><%-include('./partial/nav.ejs') %></div>
    <div>Error</div>
  </body>
</html>
