<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('./partial/head.ejs') %>
  </head>
  <body class="text-gray-600 font-body">
    <div class="grid grid-rows-2">
      <%-include('./partial/nav.ejs') %>
      <h1 class="text-red-200">ABout</h1>
    </div>
  </body>
</html>
