<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('./partial/head.ejs') %>
  </head>
  <body class="text-gray-600 font-body">
    <div class="grid grid-rows-2">
      <%-include('./partial/nav.ejs') %>
      <main>
        <div class="text-yellow-500 uppercase">Info</div>
      </main>
    </div>
  </body>
</html>
