<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('./partial/head.ejs') %>
  </head>
  <body class="text-gray-600 font-body">
    <div class="content">
      <%-include('./partial/nav.ejs') %>
      <main class="mb-auto h-10">
        <div class="text-yellow-500 uppercase">Info</div>
      </main>
      <%-include('./partial/footer.ejs') %>
    </div>
  </body>
</html>
