<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('./partial/head.ejs') %>
  </head>
  <body class="text-gray-600 font-body">
    <div class="content">
      <%-include('./partial/nav.ejs') %>
      <main class="mb-auto h-10 col-span-1 flex flex-col items-center">
        <div class="text-grey-200 uppercase text-3xl p-5">Home</div>
        <span
          class="text-center flex items-center justify-center md:flex-row flex-col"
          >This is a basic informational site built with &nbsp
          <span class="text-green-700 text-lg font-bold"> ExpressJS &nbsp</span>
          && &nbsp
          <span class="text-blue-500 text-lg font-bold"> TailwindCSS</span>.
        </span>
      </main>
      <%-include('./partial/footer.ejs') %>
    </div>
  </body>
</html>
