<div>
  <div>
    <nav>
      <div>
        <h1><a href="/"> Informational Site</a></h1>
        <div></div>
        <ul>
          <li>
            <a href="/"><span class="text-2xl">Home</span></a>
            <a href="/about"><span>About</span></a>
            <a href="/contact">Contact</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
